.background{

    padding: 40px;
    margin-left: 40px;
    margin-right: 40px;
    
}
.top-contanier{
    background-color: rgb(5, 3, 25);
    padding-left: 120px;
    padding-right: 120px;
    border-radius: 40px;
    /* padding-top: 50px; */
}
.para{
    font-size: 10px;
    font-weight: lighter;
    color: rgb(193, 191, 191);

}
.row-heading{
    width: 25%;
    margin: 35px;
}
.heartlogo{
    width: 25px;
    margin-right: 200px;
}
.button{
    height: 35px;
}
.heera{
    width: 100%;
}