/* /* *{
  margin:0;
  padding:0;
  text-decoration: none;
}
.side{
  display:flex;
  margin: 10px;
  border-radius: 20px;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.05s;
}
.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.05s;
}
.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
} */







/* .border{
  width:300px;
} */
*{
  margin:0;
  padding:0;
  text-decoration: none;
  font-size: 23px;
}
.classes-square{
  height: 250px;
  width: 200px;
  border-radius: 25px;
  background-color:#e6e6ee;
}

.side{
  display:flex;
  border-color: #e6e6ee;
}
main{
  width: 100%;
  padding: 20px;
}
.sidebar{
  background:#fff;
  border-radius: 40px;
  border-color: #9b9ba5;
  color: #515191;
  height: 100vh;
  width: 200px; 
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  /* display: flex; */
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #9b9ba5;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:#e6e6ee;
  color: #000;
  transition: all 0.5s;
}

.active{
  background: lightskyblue;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
  color:#9b9ba5 ;
}

 
